@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #dadff7;
    font-family: "Fugaz One", cursive;
}

.container {
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    border: 10px solid #636161;
    border-radius: 2em;
    background-color: #f4efb4;
    width: 600px;
    height: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter h1 {
    font-size: 2rem;
}

#count{
    font-size: 6rem;

}

button{
    font-family: inherit;
    background-color: aliceblue;
    border-radius: 1em;
    font-weight: lighter;
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

button:hover{
    background-color: #636161;
    border: 1px solid #636161;
}